body
{
    background-color: rgb(50, 128, 181);
}
.heading
{
    background-color: rgb(97, 192, 187);
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 3px 5px 5px rgb(40, 40, 40);
    color: rgb(255, 233, 217);
}
.note
{
    font-size: 15px;
    color: rgb(71, 71, 71);
}
.copy_right_footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(64, 93, 112); 
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}
